.personal-image{
    height: 150px;
    width: 105x;
    border-radius: 130px;
}

.personal-profile{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.profile-image,.personal-description{
    text-align: center;
}


